[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.2"
numpy = "==1.24.1"
matplotlib = "==3.6.2"
seaborn = "==0.12.2"
django = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
